{% extends 'main.html' %}

{% block content %}
    <div class="text-center mt-4">
        <img id="video" class="img-fluid img-thumbnail shadow" src="{{ url_for('video_feed') }}" alt="Face Emotion Recognizer">
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const video = document.getElementById("video");

            // Refresh the image source every second
            setInterval(() => {
                video.src = "{{ url_for('video_feed') }}?" + new Date().getTime();
            }, 1000);
        });
    </script>
{% endblock %}
